<div id="subtitle">
<h3><%=@survey.survey_name%></h3>
</div>

<% if @survey.questions %>
  <form action="/survey/take/<%=@survey.id%>" method="POST">
  <% @survey.questions.each do |question| %>
    <p><%=question.question%></p>
      <% if question.options %>
        <% question.options.each do |option| %>
          <input type="radio" name="<%= question.id %>" value="<%=option.id%>"><%=option.choice%>
          <br>
          <br>
        <% end %>
      <% end %>
  <% end %>
  <br>
  <input type="submit" value="submit">
  </form>
<% end %>
